<!DOCTYPE html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>Travel App</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <!-- <link rel="stylesheet" href="../styles/style.scss"> -->
        <link href="https://fonts.googleapis.com/css2?family=Anton&family=Chelsea+Market&display=swap" rel="stylesheet">
    </head>

    <body>
        <header>
            <a href="" id="heading">TripNote</a>
        </header>

        <main>
            <div id="content">
                <div id="travelForm">
                    <form>
                        <label>
                            Where do you want to go?
                            <input type="text" id="tripLocation" placeholder="Toronto, Canada" required>
                        </label>
                    
                        <label>
                            When do you want to leave? 
                            <input type="date" id="tripStartDate" required>
                        </label>

                        <label>
                            When do you want to come back?
                            <input type="date" id="tripEndDate" required>
                        </label>
                        
                        <div class="tripBtn">
                          <input type="submit" id="submitBtn" value="Save Trip!">
                        </div>
                    </form>
                </div>
            </div>
            <div id="savedTrips"></div>
        </main>
        <script src="" async defer></script>
    </body>
</html>