body{
    background-color: grey;
    color: orangered;
}

header{
    text-align: center;
    font-family: 'Chelsea Market', cursive;
    font-size: xx-large;
    color: indigo;
    background-color: orangered;
    width: 34%;
    margin: 0 auto;
}

main{
    font-family: 'Anton', sans-serif;
}

#travelForm{
    border: 2px solid black;
    padding: 2%;
    margin: 0 auto;
    margin-top: 5%;
    height: auto;
    width: 30%;
    clear: both;
    background-color: indigo;
    border-radius: 15px;
    opacity: 0.8;
}

#travelForm:hover{
    opacity: 1;
}

#travelForm input{
    width: 100%;
    clear: both;
}

.tripBtn{
    padding-top: 4%;
    width: 30%;
    margin: 0 auto;
}

.tripBtn input{
    opacity: 0.6;
    background-color: orangered;
    border-radius: 20px;
    height: 30px;
}

.tripBtn input:hover{
    opacity: 1;
}

label, input {
    display: block;
}

label {
    margin-bottom: 20px;
}