body{
    background-color: grey;
    // color: red;
    background-image: url("../media/websiteBG.jpg");
    background-size: 100%;
    margin-bottom: 0;
}

header{
    text-align: center;
    font-family: 'Chelsea Market', cursive;
    font-size: xx-large;
    background-color: red;
    width: 34%;
    margin: 0 auto;
    #heading{
        color: black;
        text-decoration: none;
    }
}

main{
    font-family: 'Anton', sans-serif;
}

#travelForm{
    border: 2px solid black;
    padding: 2%;
    margin: 0 auto;
    margin-top: 5%;
    height: auto;
    width: 30%;
    clear: both;
    background-color: black;
    border-radius: 15px;
    opacity: 0.8;
    color: red;
}

#travelForm:hover{
    opacity: 1;
}

#travelForm input{
    width: 100%;
    clear: both;
}

.tripBtn{
    padding-top: 4%;
    width: 30%;
    margin: 0 auto;
}

.tripBtn input{
    opacity: 0.6;
    background-color: red;
    border-radius: 20px;
    height: 30px;
    color: black;
    font-family: 'Anton', sans-serif;
    font-size: medium;
}

.tripBtn input:hover{
    opacity: 1;
}

label, input {
    display: block;
}

label {
    margin-bottom: 20px;
}

#savedTrips{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 5%;
    padding: 5%;
}

.tripCard{
    text-align: center;
    border: 2px solid black;
    height: auto;
    background-color: black;
    border-radius: 15px;
    opacity: 0.8;
    padding: 2%;
    color: red;
    #cardImage{
        display: block;
        margin: 0 auto;
    }
    #cardTripInfo {
        border: 2px solid white;
        border-radius: 15px;
        margin: 3%;
    }
    #cardWeatherInfo {
        border: 2px solid white;
        border-radius: 15px;
        margin: 3%;
    }
    span{
        font-size: larger;
        color: white;
    }
}

.tripCard:hover{
    opacity: 1;
}